.post {
  .header_info {
    align-items: center;
    .header {
      text-align: center;
    }
    .tag_list {
      margin-bottom: 10px;
      justify-content: center;
    }
  }
  h3 {
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 15px;
  }
  ul {
    margin-bottom: 15px;
  }
  li {
    list-style: none;
  }
}
