.navigation {
  margin: 0;
  padding: 20px;
  font-weight: 600;
  background-color: rgb(65, 65, 175);
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 400px;
  span {
    color: white;
  }
  .link_auth {
    color: white;
    font-weight: 400;
  }
  .link {
    color: white;
  }
  .link:not(:last-child) {
    margin-right: 2rem;
  }
}
