.main {
  text-align: center;
  .login_form {
    display: flex;
    flex-direction: column;
    padding: 200px;
    justify-content: center;
    .input {
      border: none;
      border-bottom: 2px solid grey;
      padding: 5px;
      font-size: 20px;
      margin-bottom: 20px;
      transition: 0.2s;
    }
    .input:focus {
      border-bottom: 2px solid rgb(83, 83, 83);
      outline: none;
    }
    .link {
      color: black;
      transition: 0.2s;
      font-size: 20px;
    }
    .link:hover {
      transition: 0.2s;
      color: rgb(65, 65, 175);
    }
    p {
      font-size: 15px;
    }
  }
}
