.main {
  text-align: center;
  .login_form {
    display: flex;
    flex-direction: column;
    padding: 200px;
    justify-content: center;
    .input {
      border-radius: 10px;
      border: 1px solid rgb(128, 128, 128);
      padding: 5px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .link {
      color: black;
      transition: 0.2s;
      font-size: 20px;
    }
    .link:hover {
      transition: 0.2s;
      color: rgb(65, 65, 175);
    }
    p {
      font-size: 15px;
    }
  }
}
