.sort {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0;
    margin-bottom: 1rem;
  }
  .types_block {
    display: flex;
    flex-direction: column;
    label {
      text-wrap: nowrap;
    }
  }
}
