.user_info {
  display: flex;
  align-items: center;
  .text_info {
    h1 {
      margin: 0;
      font-size: 40px;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      .tag {
        margin: 3px;
        background-color: rgba(65, 65, 175, 0.226);
        padding: 3px;
        border-radius: 3px;
      }
    }
  }
}
